#collapseExample{
    margin-left:-17px;
   
}

@media(max-width:997px){
    #collapseExample{
        margin-left:-250px;
        position:fixed;
        min-height: 100vh;
    
    }
    .toggler{
        visibility:visible;
    }
    #collapseExample.active{
        margin-left: 0;
        transition: all 1s;
        background:#051094;
    }
    .bb{
        height: 5%;
       
    }
    .m{
        margin: 0;
    }
    .container{
    margin:0;
    }
   
    
}
.m{
    margin-left:10rem;
}