                * {
                    box-sizing: border-box;
                    margin: 0;
                }
                
                html {
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }
                
                .row::after {
                    content: "";
                    clear: both;
                    display: table;
                }
                
                [class*="col-"] {
                    float: left;
                    padding: 2px;
                }
                /* For mobile phones: */
                
                [class*="col-"] {
                    width: 100%;
                }
                /*for desktop*/
                
                @media only screen and (min-width: 768px) {
                    .col-1 {
                        width: 8.33%;
                    }
                    .col-2 {
                        width: 16.66%;
                    }
                    .col-3 {
                        width: 25%;
                    }
                    .col-4 {
                        width: 33.33%;
                    }
                    .col-5 {
                        width: 41.66%;
                    }
                    .col-6 {
                        width: 50%;
                    }
                    .col-7 {
                        width: 58.33%;
                    }
                    .col-8 {
                        width: 66.66%;
                    }
                    .col-9 {
                        width: 75%;
                    }
                    .col-10 {
                        width: 83.33%;
                    }
                    .col-11 {
                        width: 91.66%;
                    }
                    .col-12 {
                        width: 100%;
                    }
                }
                
                .sidemenu {
                    background-color: rebeccapurple;
                    color: white;
                }
                
                .sidemenu li {
                    margin-top: 20px;
                    font-size: large;
                    display: block;
                }
                
                .sidemenu li a {
                    text-decoration: none;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 50px;
                    padding-right: 50px;
                    margin-right: 0px;
                    color: white;
                }
                
                .sidemenu h1 {
                    margin-left: -16px;
                    margin-top: -15px;
                    text-align: center;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    width: 340px;
                    background-color: midnightblue;
                }
                
                .sidemenu li a:hover {
                    background-color: royalblue;
                }
                /* .container {
                    width: 80%;
                    height: 500px;
                    margin: 2% auto;
                    background-color: white;
                    position: relative;
                    border-radius: 10px;
                    border-style: groove;
                }
                
                .container form {
                    width: 80%;
                    position: absolute;
                    top: 80px;
                    left: 10%;
                }
                
                .container form input {
                    width: 100%;
                    padding: 10px 5px;
                    margin: 5px 0;
                    outline: none;
                    background: transparent;
                }
                
                .container form select {
                    padding: 5px;
                    border-radius: 5px;
                    border: 1px solid teal;
                }
                 */
                
                .btn-box {
                    width: 100%;
                    margin: 20px auto;
                    text-align: center;
                    height: 50px;
                    background-color: #00585E;
                    color: white;
                    border-radius: 20px;
                }
                
                #form2 {
                    left: 150%;
                }
                
                #form3 {
                    left: 150%;
                }
                
                .btn-box:hover {
                    opacity: 0.9;
                    background-color: teal;
                }
                
                .about {
                    margin: 8%auto;
                    text-align: center;
                    background-color: aliceblue;
                    line-height: 35px;
                }
                /* Style the sidebar - fixed full height */
                
                .sidebar {
                    height: 200%;
                    float: left;
                    margin-top: 0;
                    background-color: #cdcdbb;
                }
                /* Style sidebar links */
                
                .sidebar a {
                    padding: 10px;
                    padding-left: 20%;
                    font-size: 20px;
                    color: teal;
                    display: block;
                    text-decoration: none;
                }
                
                .sidebar a:hover {
                    color: #d08c29;
                }
                /* Style links on mouse-over */
                /* Style the main content */
                
                .main {
                    margin-left: 160px;
                    /* Same as the width of the sidenav */
                    padding: 0px 10px;
                }
                /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
                
                @media screen and (max-height: 450px) {
                    .sidebar {
                        padding-top: 15px;
                    }
                    .sidebar a {
                        font-size: 18px;
                    }
                }
                /* Style the header with a grey background and some padding */
                
                .header {
                    background-color: teal;
                    padding: 50px 10px;
                }
                /* Style the header links */
                
                .header a {
                    float: left;
                    color: white;
                    text-align: center;
                    padding: 10px;
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 25px;
                    border-radius: 4px;
                }
                /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
                
                .header a.logo {
                    font-size: 25px;
                    font-weight: bold;
                }
                /* Change the background color on mouse-over */
                
                .header a:hover {
                    background-color: white;
                    color: teal;
                }
                /* Style the active/current link*/
                
                .header a:active {
                    background-color: dodgerblue;
                    color: white;
                }
                /* Float the link section to the right */
                
                .header-right {
                    float: right;
                }
                /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
                
                @media screen and (max-width: 500px) {
                    .header a {
                        float: none;
                        display: block;
                        text-align: left;
                    }
                    .header-right {
                        float: none;
                    }
                    .others {
                        width: 100%;
                        display: block;
                        flex-direction: column;
                    }
                    .first-text {
                        width: auto;
                    }
                    .images {
                        width: auto;
                    }
                }
                
                @media screen and (max-width:500px) {
                    .menu {
                        width: 100%;
                        display: block;
                        float: none;
                    }
                    .linkss {
                        width: 100%;
                        display: block;
                    }
                    .linkss a {
                        display: block;
                        color: teal;
                        width: 100%;
                        margin: 0%;
                    }
                }
                
                .subnav {
                    float: left;
                }
                /* Subnav button */
                
                .subnavbtn {
                    font-size: 16px;
                    border: none;
                    outline: none;
                    color: white;
                    padding: 14px 16px;
                    background-color: teal;
                    font-family: inherit;
                    margin: 0;
                }
                /* Style the subnav content - positioned absolute */
                
                .subnav-content {
                    display: none;
                    position: absolute;
                    right: 0;
                    background-color: teal;
                    width: 10%;
                    z-index: 1;
                }
                /* Style the subnav links */
                
                .subnav-content a {
                    width: 100%;
                    color: white;
                    text-decoration: none;
                }
                /* Add a grey background color on hover */
                
                .subnav-content a:hover {
                    background-color: white;
                    color: teal;
                }
                /* When you move the mouse over the subnav container, open the subnav content */
                
                .subnav:hover .subnav-content {
                    display: block;
                }
                
                .mine body {
                    background-color: whitesmoke;
                }
                
                .mine {
                    width: 600px;
                    border: 1px;
                    margin: auto;
                    background-color: white;
                }
                
                .mine form {
                    width: 70%;
                    margin: 4% auto;
                    padding: 30px;
                }
                
                .mine form input {
                    width: 80%;
                    padding: 10px;
                    border: 1px solid green;
                    border-radius: 10px;
                    background-color: antiquewhite;
                }
                
                .mine form label {
                    padding: 15px;
                    padding-top: 15px;
                }
                
                .mine form button {
                    padding: 10px;
                    margin-top: 15px;
                }
                /* my buttons */
                
                .btn {
                    padding: 10px;
                    margin-top: 15px;
                    background-color: #00585e;
                    color: white;
                    font-size: large;
                    text-decoration: none;
                    border-radius: 3px;
                }
                
                .btn:hover {
                    background-color: white;
                    color: #00585e;
                }